@using WebBanThucAnNhanh.Models
@model List<LOAI>
    <style>
        #div-u {
            padding-top: 30px;
            margin-top: 50px;
            text-decoration: none;
        }

        .div-cate {
            height: 30px;
            width: 100%;
        }
    </style>
    <ul style="list-style-type:none" id="div-u">
        @{
        foreach (var item in Model)
        {
        <li class="div-cate">
            @Html.ActionLink(item.TENLOAI, "Index", "Home", new {loai=item.MALOAI.Trim()},"")
        </li>

        }
        }
    </ul>
