@using WebBanThucAnNhanh.Models
@model List<LOAI>
<style>
    #div-u {
        padding-top: 30px;
        text-decoration: none;
        vertical-align: middle;
    }

    .div-loai {
        height: 50px;
        padding: 10px;
        text-transform: uppercase;
    }

        .div-cate a {
            color: red;
        }
</style>
<ul style="list-style-type:none" id="div-u">
    @{
        foreach (var item in Model)
        {
            <li class="div-loai">
                @Html.ActionLink(item.TENLOAI, "Index", "Home", new { loai = item.MALOAI.Trim() }, "")
            </li>

        }
    }
</ul>