@model WebBanThucAnNhanh.Models.GioHang

@{
    ViewBag.Title = "CheckoutSuccess";
}

<h2>CheckoutSuccess</h2>
<h2>
    @Html.DisplayFor(model => model._tenkh)
    @Html.DisplayFor(model => model._phone)

    @Html.DisplayFor(model => model._diachi)
    @Html.DisplayFor(model => model._email)
</h2>
